@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before{
    border-radius: 0.5rem;
    opacity: 0.8;
}
.btn{
   margin-right: -1px;
}
.card{
    height: fit-content;
    width: 70%;
}

.card-body{
    width: 100%;
}

@media (max-width: 700px) {
    .card{
        width: 100%;
    }
}